QWidget{
  background:  #f0f0f0;
  color: black;
  border:none;
}

QToolButton{
  width:80px;
  margin-left:10px;
  border:solid;
  color: black;
  background-color: #f0f0f0;
  border-radius: 4px;
}

QToolButton:pressed{
  background-color: #d3d3d3;
}

QToolButton::menu-indicator{
  width:0px;
}

QLabel{
  color: black;
}

QLabel#sublabel{
  font-size:20px;
  background-color: rgba(255, 255, 255, 0);
}

QPushButton{
  min-width:30px;
  min-height:30px;
  max-width: 30px;
  max-height: 30px;
  background-color:#dcdcdc;
  border: 1px solid #cccccc;
  border-radius:4px;
}
QPushButton:pressed{
  background-color:#ffffff;
}
QPushButton#BVolumeControl{
  border:none;
  background-color: #f0f0f0;
}

QSlider{
  border-radius: 20px;
}

/*video slider*/
QSlider::sub-page:horizontal {
  background: #0078d7;
  border-radius: 5px;
}

QSlider::groove:horizontal{
  background: #dcdcdc;
  height: 5px;
}

QSlider::handle::pressed{
  width:0px;
}

QSlider::handle{
  width:0px;
}   

/*slider volume*/
QSlider#volumeslider{
  max-width: 150px;
}

QSlider::sub-page:horizontal#volumeslider {
  background: #b0b0b0;
  border-radius: 5px;
}

QSlider::groove:horizontal#volumeslider {
  background: #dcdcdc;
  border-radius: 5px;
  height: 5px;
  border-radius: 30px;
}

QSlider#volumeslider::handle{
  width:0px;
}

QMenu{
  padding: 0px;
}

QMenu:item{
  width: 160px;
  padding:5px;
  border-radius: 1px;
  border: 1px solid #b0b0b0;
}

QSlider::handle:vertical{
  width: 0px;
}

QGraphicsView{
  background-color: #000000;
}

QMenu:item:selected{
  background-color: #b0b0b0;
}