QPushButton {
  text-align: left;
  max-width: 600px;
  min-width: 600px;
  padding-left: 20px;
  background-color:#dcdcdc;
  border: 1px solid #cccccc;
  border-radius:4px;
}
QPushButton:pressed{
  background-color:#ffffff;
}
#donebutton {
  text-align: center;
  padding-left: 0px;
}

#currentlyplayingbutton {
  background-color: #e0e0e0;
}
