QLabel{
  border: 1px solid #b0b0b0;
  font-size:16px;
  padding:10px 10px 10px 10px;
}
QPushButton{
  min-width: 50px;
  background-color:#dcdcdc;
  border: 1px solid #cccccc;
  border-radius:4px;
}
QPushButton:pressed{
  background-color:#ffffff;
}
#tablehead{
  background-color: #dcdcdc;
}
